@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

img {
    width: 100%;
}


header {
    background-color: #2a5298;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .menus-link {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.top-menu .menus-link a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.top-menu .menus-link a:hover {
    color: #00A451;
}

.top-menu h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 5rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

span {
    color: #00A451;
}

#btn {
    padding: 0.6875rem 1.0625rem;
    background-color: #00A451;
    border: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

#btn:hover {
    background-color: white;
    color: #00A451;
    transition: 1s;
}

#icon {
    display: none;
    color: #fff;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1758270703639-5f6f600baffa?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")center/cover no-repeat;
    height: 100vh;
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 4.875rem;

}

.text-box p {
    margin: 0.625rem 0 2.5rem;
    font-size: 0.875rem;
    color: rgb(161, 161, 161);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 0.0625rem solid #fff;
    padding: 0.75rem 2.125rem;
    font-size: 0.8125rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-btn:hover {
    border: 0.0625rem solid #00A451;
    background: #00A451;
    transform: translateY(-0.3125rem);
}

/* Section 3 */
.qebta3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem;
    margin-block: 9.375rem;
}

.left h1 {
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: 700;
    color: #2a5298;
    margin-bottom: 0.875rem;
}

.left p {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: 500;
    color: #969696;
    margin-bottom: 2.5rem;
}

.left-contant {
    display: flex;
    gap: 5rem;
}

.left-text:hover h2 {
    color: #00A451;
    transition: 1ms;
}

.left-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.125rem;
    color: #2a5298;
}

.left-text p {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #969696;
}

.right img {
    width: 29.125rem;
    margin-left: 4.5rem;
    border-radius: 0.625rem;
}

/* section 4 */
.bg-color {
    background-color: #2a5298;
    height: 23.9265625rem;
    width: 100%;
    display: flex;
    margin-block: 9.375rem;
    color: #fff;
}

.bg-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6.25rem;
    text-align: center;
}

.bg-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bg-box:hover {
    color: #00A451;
    transform: translateY(-0.3125rem);
}

.bg-box img {
    width: 3.0925rem;
    height: 3.534375rem;
    color: #fff;
    margin-bottom: 1.5625rem;
}

.bg-box h1 {
    margin-bottom: 0.875rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.6875rem;
}

.bg-box p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.0625rem;
}

/* section 5 */
.Programs {
    margin-block: 9.375rem;
}

.Programs-text {
    text-align: center;
}

.Programs-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #2a5298;
    margin-bottom: 0.5rem;
}

.Programs-text p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 2.875rem;
}

/* card */
.Programs-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.Programs-card {
    width: 23.8234375rem;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 0.125rem 0.125rem #969696;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    transition: transform 0.3s ease;
}

.Programs-card:hover {
    transform: translateY(-0.625rem);
}

.Programs-card img {
    border-radius: 0.9375rem;
}

.Programs-card h3 {
    width: 100%;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    font-weight: 600;
    color: #2a5298;
}

.Programs-card p {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    font-weight: 400;
    color: #969696;
}

.Programs-card a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: #2a5298;
    border: 0.0625rem solid #2a5298;
    padding: 0.75rem 2.125rem;
    font-size: 0.8125rem;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Programs-card a:hover {
    border: 0.0625rem solid #00A451;
    background: #00A451;
    transform: translateY(-0.3125rem);
    color: #fff;
}

/* ----compus------ */
.compus {
    margin-block: 9.375rem;
}

.compus-text {
    text-align: center;
}

.compus-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #2a5298;
    margin-bottom: 0.5rem;
}

.compus-text p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 2.875rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.compus-col {
    border-radius: 0.625rem;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
    height: 32.6226875rem;
    width: 24.1664375rem;
}

.compus-col img {
    width: 100%;
    height: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(42, 82, 152, 0.7);
}

.layer h3 {
    width: 100;
    font-weight: 500;
    color: #fff;
    font-size: 1.625rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 45%;
    opacity: 1;
}

/* facilities */
.facilities {
    margin-block: 9.375rem;
}

.facilities-text {
    text-align: center;
}

.facilities-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #2a5298;
    margin-bottom: 0.5rem;
}

.facilities-text p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 2.875rem;
}

.faci {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.facilities-col {
    transition: transform 0.3s ease;
}

.facilities-col:hover {
    transform: translateY(-0.625rem);

}

.facilities-col img {
    width: 23.125rem;
    height: 20.625rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}


.facilities-col h3 {
    margin-bottom: 0.625rem;
    color: #2a5298;
    font-size: 1.5rem;
}

.facilities-col p {
    font-size: 1rem;
    color: #969696;
}

/* TESTIMONIAL */
.testimonial {
    margin-block: 9.375rem;
}

.testimonial-text {
    text-align: center;
}

.testimonial-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #2a5298;
    margin-bottom: 0.5rem;
}

.testimonial-text p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 2.875rem;
}

.testi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.testimonial-col {
    border-radius: 1.25rem;
    margin-bottom: 5%;
    background: #2a5298;
    padding: 1.5625rem;
    cursor: pointer;
    display: flex;
    transition: transform 0.3s ease;
}

.testimonial-col:hover {
    transform: translateY(-0.625rem);
}

.testimonial-col img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1.875rem;
    border-radius: 50%;
}

.testimonial-col p {
    color: #fff;
    margin-bottom: 0.625rem;
}

.testimonial-col h3 {
    color: #969696;
}



.testimonial-col .fa-star,
.fa-star-half-alt {
    color: #00A451;
}

/* call to action */
.cta {
    margin-block: 9.375rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1758270704534-fd9715bffc0e?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 6.25rem 0rem;
    border-radius: 0.625rem;
}

.cta h1 {
    color: #fff;
    margin-bottom: 1.25rem;
}

/* Footer */
footer {
    background-color: #2a5298;
    width: 100%;
    height: 25rem;
    color: white;
    padding: 1.25rem 1.875rem 0.9375rem;
    margin-top: 12.5rem;
}

.footer-kor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    align-items: center;
    justify-content: center;
}

.left-footer h1 {
    font-size: 3rem;
    margin-bottom: 0.625rem;
}

.left-footer p {
    font-size: 1rem;
    line-height: 1.5625rem;
    color: #beb9b9;
    margin-bottom: 1.25rem;
}

.left-footer .social-icons {
    margin-bottom: 1,25rem;
}

.social-icons a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
}

.social-icons a:hover {
    color: #00A451;
}


.right-footer {
    margin-left: 18.75rem;
    display: flex;
    flex-direction: column;
}

.right-footer h1 {
    margin-bottom: 1.875rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-nav li {
    list-style: none;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;

}

.footer-nav a:hover {
    color: #00A451;
}

.footer-hoos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    color: #f9f9f9;
    gap: 2.5rem;
    padding-top: 1.875rem;
}

.footer-right {
    display: flex;
    gap: 0.8rem;
}

.footer-right a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.footer-right span {
    color: #d6def9;
}

/* Responsive Section */

/* Large screen */
@media (min-width:1281px) {}

/* Dektop and laptops */
@media(min-width:1025px) and (max-width:1280px) {}

/* tablets */
@media (min-width:641px) and (max-width:1024px) {
    .container {
        width: 100%;
    }

    .top-menu {
        display: flex;
    }

    #icon {
        display: block;
        font-size: 3.5rem;
        padding-right: 0.625rem;
    }

    .top-menu h1 {
        font-size: 3rem;
        padding-left: 0.625rem;
    }

    .top-menu .menus-link {
        display: none;
    }

    /* Hero section */

    .text-box p {
        font-size: 2rem;
    }

    .hero-btn {
        font-size: 1.25rem;
    }

    /* section 3 */
    .qebta3 {
        grid-template-columns: 1fr;
        padding: 0 1.25rem;
    }

    .left h1 {
        width: 100%;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .left p {
        font-size: 1.1rem;

    }

    .left-text h2 {
        font-size: 3rem;
    }

    .left-text p {
        font-size: 1.25rem;
    }

    .right img {
        width: 100%;
        margin-left: 0rem;
    }

    /* section 4 */
    .bg-color {
        height: 100%;
        padding: 1.25rem;
    }

    .bg-box {
        margin-bottom: 1.25rem;
    }

    .bg-box img {
        width: 40%;
        height: 40%;
    }

    .bg-box h1 {
        font-size: 3.25rem;
    }

    .bg-box p {
        font-size: 1.5rem;
    }

    .bg-icon {
        grid-template-columns: 1fr 1fr;
        gap: 3.125rem;
    }

    /* Section 5 */
    .Programs-cards {
        grid-template-columns: 1fr 1fr;
        row-gap: 5rem;
    }

    .Programs-card {
        width: 90%;
        margin-left: 5%;
    }

    /* compus section */
    .row {
        grid-template-columns: 1fr 1fr;
    }

    .compus-col {
        width: 100%;
        padding: 1.25rem;
    }

    /* facilities */
    .faci {
        grid-template-columns: 1fr 1fr;
    }

    .facilities-col {
        padding: 0.625rem;
    }

    .facilities-col img {
        width: 100%;
    }

    /* Testimonial */
    .testi {
        grid-template-columns: 1fr;
        padding: 0.625rem;
    }


    /* call to action */
    /* Footer */
    footer {
        height: auto;
        padding: 2.5rem 1.25rem;
    }

    .footer-kor {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1.25rem;
    }

    .right-footer {
        margin-left: 0rem;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .footer-hoos {
        flex-direction: column;
        gap: 0.9375rem;
        text-align: center;
    }
}

/* Moblie */
@media(max-width:640px) {
    .container {
        width: 100%;
    }

    .top-menu {
        display: flex;
    }

    #icon {
        display: block;
        font-size: 2.5rem;
        padding-right: 0.625rem;
    }

    .top-menu h1 {
        font-size: 1.8rem;
        padding-left: 0.625rem;
    }

    .top-menu .menus-link {
        display: none;
    }

    /* Hero section */
    .text-box {
        top: 50%;
    }

    .text-box h1 {
        font-size: 2.25rem;
    }

    .text-box p {
        font-size: 0.8rem;
    }

    .hero-btn {
        font-size: 0.6rem;
    }

    /* section 3 */
    .qebta3 {
        grid-template-columns: 1fr;
        padding: 0rem 1.25rem;
        gap: 1.75rem;
    }

    .left h1 {
        width: 100%;
        font-size: 1.5rem;
    }

    .left p {
        font-size: 0.8rem;
    }

    .left-contant {
        gap: 2rem;
    }

    .left-text h2 {
        font-size: 1.8rem;
    }

    .left-text p {
        font-size: 0.8rem;
    }

    .right img {
        width: 100%;
        margin-left: 0rem;
    }

    /* section 4 */
    .bg-color {
        height: 100%;
        padding: 1.25rem;
    }

    .bg-box {
        margin-bottom: 1.25rem;
    }

    .bg-box img {
        width: 50%;
        height: 50%;
    }

    .bg-box h1 {
        font-size: 3rem;
    }

    .bg-box p {
        font-size: 1rem;
    }


    .bg-icon {
        grid-template-columns: 1fr;
        gap: 3.125rem;
    }

    /* Section 5 */
    .Programs-cards {
        grid-template-columns: 1fr;
    }

    .Programs-card {
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }

    .Programs-text p {
        padding: 1.25rem;
        font-size: 0.8rem;

    }

    /* compus section */
    .row {
        grid-template-columns: 1fr;
    }

    .compus-col {
        width: 100%;
        padding: 0.625rem;
    }

    /* facilities */
    .faci {
        grid-template-columns: 1fr;
    }

    .facilities-col {
        padding: 0.625rem;
    }

    .facilities-col img {
        width: 100%;
    }

    /* Testimonial */
    .testi {
        grid-template-columns: 1fr;
        padding: 0.625rem;
    }

    .testimonial-col {
        padding: 0.5rem;
    }

    /* call to action */

    .cta h1 {
        font-size: 1.25rem;
    }

    /* footer */
    footer {
        height: auto;
        padding: 1.25rem 0.9375rem;
    }

    .footer-kor {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0.9375rem;
    }

    .left-footer h1 {
        font-size: 2rem;
    }

    .left-footer p {
        font-size: 0.875rem;
        line-height: 1.4rem;
    }

    .right-footer {
        margin-left: 0rem;
        flex-direction: column;
        gap: 0.9375rem;
        align-items: center;
        margin-bottom: 1.875rem;
    }

    .footer-hoos {
        flex-direction: column;
        gap: 0.625rem;
        text-align: center;
    }

    .footer-right {
        justify-content: center;
        gap: 0.5rem;
    }
}